@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Style the header */
.header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Style the container */
.container {
  max-width: 900px;
  margin: 450px;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card-tasks {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  text-align: center;
  display: inline-block;
  flex-direction: column;
}

.card h5 {
  font-size: 1.2rem;
  margin: 0;
}

.card p {
  font-size: 1rem;
}

/* Style the "Create Task List" form */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 100px;
}

/* Style buttons */
.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.container h3 {
  text-align: center;
}

.card-profile {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  text-align: center;
  display: inline-block;
  flex-direction: column;
  background-color: #e1e1e1;
}

/* Home.css */

.home-container {
  position: relative;
  background-image: url("/static/profile/pexels-karolina-grabowska-4022218.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-overlay:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; /* Adjust the box-shadow on hover */
}

.card-overlay .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-overlay:hover .overlay {
  opacity: 1;
}

.card-overlay .overlay button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.card-overlay .overlay button.btn-danger {
  background-color: #dc3545;
}

.card-overlay .overlay button.btn-secondary {
  background-color: #6c757d;
}

.container {
  margin-top: 140px;
}
